// Run SASS: sass --watch ./src/App.scss ./src/App.css

.App {
    background-color: #F9F9F7;

    header {
        display: flex;
        justify-content: center;
    }

    .wrapper {
        display: flex;

        .list-container {
            width: 25vw;
        }

        .note-container {
            width: 75vw;  

            div {
                height: 100vh;
                font-size: 24px;
            }
        }
    }
}

.Nav {
    display: flex;
    background-color: #DCDCDC   ;
    width: 100%;
    border-radius: 5px;

    .window-icons {
        width: 10%;
        display: flex;
        align-items: center;
        margin-left: 25px;

        img {
            width: 50%;
        }
    }

    .action-container {
        width: 50%;
        display: flex;

        .action-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #F6F6F6;
            width: 80px;
            height: 50px;
            border-radius: 5px;
            margin: 2%;

            img {
                width: 40%;
                opacity: 50%;
            }
        }

        .check img {
            opacity: 25%;
        }

        .lock img {
            width: 30%;
            height: 65%;
        }
    }

    .search-container {
        width: 30%;
    }
}

.Search {
    display: flex;
    align-items: center;

    input {
        width: 500px;
        height: 40px;
        border-radius: 10px;
        border: none;
    }

    input::placeholder {
        font-size: 20px;
        font-weight: 500;
        display: flex;
        text-align: center;
    }
}

.Note {
    border: .5px solid lightgrey;

    textarea {
        width: 96%;
        height: 100vh;
        font-size: 24px;
        padding: 2%;
    }
}

.List {
    text-align: center;
    border: .5px solid lightgrey;

    .list-item {
        display: flex;
        overflow: hidden;
        border: .5px solid lightgrey;
        align-items: center;

        .item-info {
            width: 90%;
        }
    }

    .list-item-selected {
        // background: #FBDF8C;
        display: flex;
        overflow: hidden;
        border: .5px solid lightgrey;
        align-items: center;

        .item-info {
            width: 90%;
        }
    }

    .delete {
        background: none;
        border: none;
        width: 20%;
        height: 20%;

        img {
            width: 35%;
        }
    }
}
