// Run SASS: sass --watch ./src/App.scss ./src/App.css

.App {
    header {
        display: flex;
        justify-content: center;
    }
    .wrapper {
        display: flex;
        background-color: #F9F9F7;

        .list-container {
            width: 20vw;
        }
        
        .note-container {
            div {
                width: 80vw;
                height: 100vh;
                font-size: 24px;
            }
        }
    }
}

.Nav {
    .AddNote {
        input {
            width: 200px;
            height: 25px;
        }
    }
}

.Note {
    border: .5px solid lightgrey;
}

.List {
    .list-item {
        overflow: hidden;
    }
    .list-item-selected {
        overflow: hidden;
        background-color: #FBDF8C;
    }
}


